spring:
  application:
    name: interface-proxy-server

  profiles:
    active: local
    group:
      local: local, secret
      dev: dev, secret

server:
  port: 8080

interface:
  definition-path: file:src/main/resources/interfaces/

springdoc:
  packages-to-scan: com.prototype.proxy.model, com.prototype.proxy.controller
  swagger-ui:
    path: /swagger
    groups-order: desc
    operations-sorter: method
    default-models-expand-depth: -1
  api-docs:
    path: /api-docs

logging:
  level:
    root: INFO
    com.prototype.proxy: DEBUG
    com.sap.conn.jco: DEBUG

---
spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:h2:mem:proxydb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/proxydb
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false